<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All UserList</title>
</head>
<body>
<h1>This is UserList</h1>
<button>
    <a href="{% url 'user-logout' %}">Logout</a>
</button>

<h1>User list</h1>
<ul>
    {% for user in users %}
        <li>
            {{ user.email }}
            {% if user.sent_requests %}
                <a href=""> Already sent</a>
             {% else %}
                <a href=" ">Send Request</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<h1>Get Friend request from others:</h1>
    <ul>
        {% for user in get_request_users %}
            <li>
                {{ user.from_user.email }}
                <a href="">Accept</a>
                <a href="">Decline</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>